.container {
    display: flex;
}

#blurb {
    float: left;
    text-align: center;
    background: #BC0000;
    color: white;
    min-width: 20em;
    padding: 5em;
}

#logo {
    vertical-align: middle;
}
