body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    overflow: hidden; /* resize nav based on content, including float */
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 10em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
	background-color: white;
}

nav a {
    float: right;
    padding: 0em 1em;
    color: DimGray;
}

nav a:link, nav a:visited {
    text-decoration: none;   
}

nav a:hover, nav a:active {
    text-decoration: underline;
}

img {
    /* responsive images*/
    max-height: 100%;
    max-width: 100%;
}
