.clear {
	clear:both;
}

.profile {
	
	padding: 40px;
	float : left;
	width : 50% ;
}

#body{
	background-color : #a30000;
}

.profile .name {
	/*padding: 10px;*/
	/*background-color: orange;*/
	background-color: white;
}

.profile .name img {
	display: inline;
	height: 200px;
	width: 200px;
	background-color: yellow;
}

.profile .name p {
	display: inline;
	vertical-align: top;
	margin: 10px;
	/*color: #777;*/
	font-size: 3em;
	/*background-color: red;*/
}

.profile .section {
	clear: both;
	width : 50%;
	background-color: white;
	padding-bottom: 10px;
}

.profile .section p {
	padding-left: 10px;
}

.profile .section .title {
	font-size: 2em;
	color: white;
	padding: #00AAFF;
}

.profile .section .me {
	background-color: #FF2211;
}

.profile .section .courses {
	background-color: #0055FF;
}

.profile .section .free-time {
	background-color: #00FF55;
}

.profile .tabs {
	float : right;
	width: 50%;
	height : 100%;
}
.profile .tab {
    float:left;
    display:block;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px 5px 0 0;
    background:#F9F9F9;
    color:#777;
}
.profile.tab.active,
.profile.tab:hover {
	background:#DDD;
	color:#222;
}
.profile.content {
    display:none;
    clear:both;
    background:#FFF;
    padding:20px;
}
.profile .content.active {
    display:block;
}